/* Navbar.css */

.navbar {
    display: grid;
    justify-content: center;
    align-items:center;
    background-color: #333;
    color: #fff;
    padding: 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;


}


.logo {
    font-size: 4.5rem;
    font-weight: bold;
    border-radius: 3px;
    z-index: 1;

}

.menu {
    display: flex;
    gap: 10px;
}

.menu a {
    color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-decoration:overline;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #19eeb5;
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .navbar {
        justify-content: center;
    }

    .logo {
        margin-right: auto;
    }
}