
    @media (max-width: 768px) {
        .productosGrid {
            grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Cambia el tamaño de las columnas en pantallas más pequeñas */
           /* Reduce el espacio entre los elementos de la cuadrícula en pantallas más pequeñas */
        }
    }
    
    @media (max-width: 480px) {
        .productosGrid {
            grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Cambia el tamaño de las columnas en pantallas aún más pequeñas */
             /* Reduce aún más el espacio entre los elementos de la cuadrícula en pantallas más pequeñas */
        }
    }


.contenedor{
    background-color: linear-gradient(to right, #4ca1af, #c4e0e5);
}
